section{
    width:1200px;
    text-align: center;
}
#top{
    height:250px;
    background-color: #111111;
}
#middle{
    height:1000px;
    width: inherit;
    background-color: #ffffff;
}
#bottom{
    height:250px;
    text-align: left;
    background-color: #111111;
}
#logo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
#logo a img{
    height: 100px;
    width: 100px;
}
#bottom p{
  color: white;
}
.notbutton{
  background-color: green;
  width: 200px;
  margin: 0 10px;
  float: left;
}
#pic{
  width: 1180px;
  border: 10px solid green;
}
#pic img{
  width: 1180px;
}
#middle p{
  margin: 0 auto;
  width: 500px;
  margin-top: 75px;
  margin-bottom: 50px;
}
#middle h1{
  margin: 0 auto;
  text-align: center;
}
#highdiv {
  width: 450px;
  margin: 0 auto;
  text-align: left;
}
#bottom a{
  color: gray;
}
#top a{
  color: gray;
}
#middle a{
  color: green;
}
#lowdiv{
  margin: 0 auto;
  width: 500px;
}
